# Environments
.env
.venv/
env/
venv/
__pycache__/

# Python
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Large files
query_agg.csv
glove.6B.50d.txt
transformer_model/model.safetensors
New file Pemanggilan ML/

# OS
.DS_Store
Thumbs.db
